{% extends 'base.html'%}

{%block content%}

<form method="POST" action="{%url 'chatscreen'%}">
    {%csrf_token%}
    Receiver:
    <br>
    <input type="text" name="rc">
    <br>
    <br>
    Message:
    <br>
    <input type="text" name="ms">
    <br>
    <br>
    <input type="submit" name="Send message!">
</form>

<lr/>
<br>
<br>
Showing Messages received:- 
<br>
--------------------------------------------------------------
<form method="POST" action="{%url 'change_view'%}" >
        {%csrf_token%}
        {%if opt%}
            <input class="btn btn-primary" type="submit" value="Show all contents.">
        {%else%}
            <input class="btn btn-primary" type="submit" value="Show only unread contents.">
        {%endif%}
</form>

--------------------------------------------------------------

<div class="container">

    {% if docs%}

        {%for each in docs.all%}

        {%if opt%}
            {%if each.read%}

            {%else%}
            Message:-
            <p>{{each.msg}}</p>
          
            Sender:-
            <p>{{each.sender}}</p> 
            Time Sent:-
            <p>{{each.timestamp}}</p>
            <br> 
            <br>
            <form method="POST" action="{{each.id}}" >
                {%csrf_token%}
                <input class="btn btn-primary" type="submit" value="Mark as Read">
            </form>
            <p>-------------------------------------------------</p>
        
            {%endif%}

        {%else%}
            Message:-
            <p>{{each.msg}}</p>
           
            Sender:-
            <p>{{each.sender}}</p> 
            Time Sent:-
            <p>{{each.timestamp}}</p>
            <br> 
            <br>
            {%if each.read%}

            {%else%}
            <form method="POST" action="{{each.id}}" >
                {%csrf_token%}
                <input class="btn btn-primary" type="submit" value="Mark as Read">
            </form>
            {%endif%}
            <p>-------------------------------------------------</p>
        {%endif%}
            

        {%endfor%}
        
    {%else%}
        <p>You have no messages or no unread ones.</p>
    {%endif%}
</div>


{%endblock%}