{% extends 'base.html'%}
{%load staticfiles%}

{%block content%}



<div class="container-fluid">
    <h><b>Sent Message Logs</b></h>
    <br>
    <br>
</div>



<div class="container-fluid">
    {%if obj%}

        {%for each in obj.all%}
            <div class="card shadow" style="border-radius:20px;">
                <div class="card-body">
                    <h5>{{each.msg}}</h5>
                    Receiver:-
                    <p>{{each.receiver}}</p> 
                    Time Sent:-
                    <p>{{each.timestamp}}</p>
                    Status:-
                    {%if each.read%}
                    Seen
                    <img width=20 height=20 src={%static 'read.jpg'%}></img>
                    {%else%}
                    Sent
                    <img width=20 height=20 src={%static 'unread.png'%}></img>
                    {%endif%}
                </div>
            </div>
            <br>
        {%endfor%}
        
    {%else%}
        <p>You haven't send messages to anyone.</p>
    {%endif%}
</div>


{%endblock%}