{%extends 'home.html'%}


{% block content%}

{% if error %}

{{error}}
{% endif%}

<center>
<img src="/static/login.png" width="50%">

<h1 style="padding-bottom: 10px;">Log In!</h1>

<form method="POST" action="{%url 'login' %}">
{%csrf_token%}

    <div class="form-group">
        <label for="name-add">Enter Username:</label>  <br>
        <input class="form-control" style="width: 50%;" type="text" id="name-add" name="username"/>
    </div>
    
    
    <div class="form-group">
        <label for="pass-add">Enter Password:</label>   <br>
        <input class="form-control" style="width: 50%;" type="password" name="pass1"/>
    </div>

    <br>
    <input class="btn btn-primary form-control" style="width: 50%;" type="submit" value="Log In!" />

</form>
</center>

{%endblock%}